body {
    background: rgb(17, 17, 17);
  }
  
  .header-content {
    text-align: center;
  }
  
  .btn {
    background: transparent;
    border: none;
    background-color: #18122B;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin: 2rem;
  }
  
  /* JavaScript */
  .cats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .random_cats {
    width: 95%;
    padding: 1rem;
  }
  
  img {
    max-width: 700px;
    height: 30rem;
  }
